PORT=3000
HOST=localhost
MONGODB_URI=mongodb+srv://jonnych1u_db_user:e4iDFpmdWnj0dt7h@cluster0.ma8ejl9.mongodb.net/?appName=Cluster0
# Optional: if you want to force a DB name instead of using the one in the URI
MONGODB_DB=bruinchat

